nav {
}

article {
    clear: left;
}

nav ol#menu li {
    display: block;
    float: left;
    background-color: cornflowerblue;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    border: 3px solid darkblue;
    width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: left;
}





h1.jumbo {
    color:red;
}

h1#key-visual {
    background: green;
}

table {
    margin: 0;
    font-size: 64px;
}

td {
    padding: 20px;
    border: 1px solid black;
}

b {
    display: block;
}



